    <%- include("partials/header.ejs") %>
    <body>
        <%- include("partials/nav.ejs") %>
        <div class="container portfolio-body" data-bs-spy="scroll" data-bs-target="#navbar-scrollspy" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
            <h1 class="text-center">Diane's Portfolio</h1>
            <h2 class="quotes text-center"><q>Don't wait for others to bring you happiness. Get started on making your own.</q></h2>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <% var classificationTypes = ['Figurative', 'Scapes', 'Still Life', 'Other']; %>

          <% classificationTypes.forEach(classificationType => { %>
            <div class="section" id="<%= classificationType.replace(/\s+/g, '-').toLowerCase() %>">
              <h1 class="classification"><%= classificationType.charAt(0).toUpperCase() + classificationType.slice(1) %></h1>
              <% paintings.filter(painting => painting.classification === classificationType).forEach(painting => { %>
                <% var availabilityStatus = (painting.availability === 0) ? 'Sold' : 'Available'; %>
                <a href="<%= painting.img_path %>" data-lightbox="<%= classificationType %>"
                  data-title="<%= painting.name %> <br>
                              <%= painting.dimensions %> <br>
                              <% if (painting.location != '') { %>
                              Plein Air <% } %>
                              <%= painting.media_type %> <br>
                              <% if (painting.location != '') { %>
                              <%= painting.location %> <br> <% } %>
                              <%= availabilityStatus %>
                              <% if (availabilityStatus === 'Available') { %>
                                - <a href='/contact'>Contact</a> the Artist for more details! <% } %>">
                  <img src="<%= painting.thm_path %>" alt="<%= painting.name %>">
                </a>
              <% }); %>
            </div>
          <% }); %>
        </div>
    <%- include("partials/footer.ejs") %>
    </body>
    </html>